@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Shirt</h3>
<br />

<form method="post" asp-action="CreateShirt">
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Brand" class="col-form-label"></label>
        </div>
    </div>
</form>