@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Shirt

<h3>Update Shirt</h3>
<br />

<form method="post" asp-action="UpdateShirt"> <!--Method should be post, even though we are putting-->
    <div class="mb-3 row">
        <input type="hidden" asp-for="Id" /> <!--Keeps id of shirt here, does not let user see or change it-->
        <div class="col-4">
            <label asp-for="BrandName" class="col-form-label">Brand:</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="BrandName" class="form-control" />
        </div>

        <div class="col-4">
            <label asp-for="Color" class="col-form-label">Color: </label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Color" class="form-control" />
        </div>

        <div class="col-4">
            <label asp-for="Size" class="col-form-label">Size:</label>
        </div>
        <div class="col-6">
            <input type="number" asp-for="Size" class="form-control" min="1" />
        </div>

        <div class="col-4">
            <label asp-for="IsForMen" class="col-form-label">Is the shirt for men (true or false)?</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="IsForMen" class="form-control" />
        </div>

        <div class="col-4">
            <label asp-for="Price" class="col-form-label">Price:</label>
        </div>
        <div class="col-6">
            <input type="number" asp-for="Price" class="form-control" step="0.01" min="0" />
        </div>

        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</form>